<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Name:</strong>
=======
  <b>Name:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @order.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>Address:</strong>
=======
  <b>Address:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @order.address %>
</p>

<p>
<<<<<<< HEAD
  <strong>Email:</strong>
=======
  <b>Email:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @order.email %>
</p>

<p>
<<<<<<< HEAD
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

=======
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>


>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
