<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Title:</strong>
=======
  <b>Title:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @product.title %>
</p>

<p>
<<<<<<< HEAD
  <strong>Description:</strong>
=======
  <b>Description:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @product.description %>
</p>

<p>
<<<<<<< HEAD
  <strong>Image url:</strong>
=======
  <b>Image url:</b>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
  <%= @product.image_url %>
</p>

<p>
<<<<<<< HEAD
  <strong>Price:</strong>
  <%= @product.price %>
</p>

=======
  <b>Price:</b>
  <%= @product.price %>
</p>


>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
